/* Général */

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: rgb(223, 202, 174);
  font-family: 'coolveticaregular';
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
}

header {
  background: linear-gradient(0deg, rgba(223,202,174,1) 0%, rgba(223,202,174,1) 20%, rgba(196,168,123,1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

header h1{
  padding-left:10px;
  font-size: 24px;
  overflow: hidden;
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0;
  letter-spacing: .30em; 
  animation: 
    typing 4s steps(60, end),
    blink-caret .75s step-end infinite;
}

.links {
  position: relative;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px; 
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #666;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}


/* Accueil */

.debut {
  position: relative;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.debut img {
  animation: fadein 5s;
  max-width: 30%; 
  height: auto;
  border-radius: 10%;
}


.eyes {
  position: absolute;
  bottom: 55%;
  left:50%;
  transform: translate(-50%, 0);  
  width: 20%;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 2s;
}

.eye {
  position: relative;
  height: 5vw;
  width : 5vw;
  background: #fff;
  margin: 0 9%;
  border-radius: 50%;
  opacity: 1;
}

.eye::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: #000;
}

.horloge {
  animation: fadein 5s;
  position: relative;
  height: 10vw;
  width: 10vw;
  background: url(../img/horloge.png) no-repeat;
  background-size: 100%;
}

#heure, #minute, #seconde {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#heure {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}

#minute {
  width: 1.6%;
  height: 30%;
  top: 20%;
  left: 48.9%;
  opacity: 0.8;
}

#seconde {
  width: 1%;
  height: 35%;
  top: 15%;
  left: 49.25%;
  opacity: 0.8;
}

.textesecret{
  cursor: url("../img/flashlight.png") 55 -30, auto;
  color: rgb(223, 202, 174);
  border: 2px solid rgb(223, 202, 174);
  padding: 20px 50px;
  background: radial-gradient(farthest-side,rgb(255, 38, 0) calc(100% - 2px) calc(100% - 1px), transparent 100%) fixed no-repeat;
  background-size:50px 50px;
}

/* Contact */

.about {
  text-align: center;
  padding: 20px;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.creators {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.creator img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease,opacity 0.3s ease;
}

.creator img:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.creator p {
  margin-top: 10px;
  font-weight: bold;
}

.description {
  display: none;
  margin-top: 30px;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 5px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  transition: border-bottom 0.3s ease;
}

footer a:hover {
  border-bottom: 1px solid transparent;
}

/* Avis */

#LesAvis {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background: rgb(181, 145, 113);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.bloc {
  margin-bottom: 20px;
  text-align: left;
}

.bloc label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
}

.bloc input, 
.bloc textarea, 
.bloc select {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #c4a181;
  border-radius: 5px;
  transition: border-color 0.3s;
  margin-left: 10px;
}

.bloc input:focus, 
.bloc textarea:focus, 
.bloc select:focus {
  border-color: #4d2929;
  outline: none;
}

.choices {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.choices label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.choices input {
  margin: 0;
}


/* Maison */

#videoContainer {
  position: relative;
  width: 50%; 
  height:600px;
  max-width: 70%;
  margin: 0 auto;
}

#loadingVideo {
  width: 100%; 
  height: auto; 
}

#posterImage {
  width: 100%; 
  height: auto; 
}


#clickableArea {
  position: absolute;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 10%; /* largeur de la zone cliquable */
  height: 20%; /* hauteur de la zone cliquable */
  background-color: transparent; /* pour rendre la zone cliquable invisible */
  cursor: pointer; /* changement du curseur au survol */
  border: solid 1px black;
}

#startButton {
  position: relative;
  left: 40%;}

/* Custom animations/fonts */


@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@font-face {
  font-family: 'coolveticaregular';
  src: url('../data/coolvetica_rg-webfont.woff2') format('woff2'),
       url('../data/coolvetica_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* Responsive Design */

@media (max-width: 945px) {
  header {
      flex-direction: column;
      align-items: center;
  }

  header h1 {
      font-size: 20px;
      margin-bottom: 10px;
  }


  footer {
    padding: 10px;
  }

  
  .horloge {
      height: 20vw;
      width: 20vw;
  }

  .eyes {
      bottom: 56%;
      width:50%;
  }

  .eye {
      width: 5vw;
      height: 5vw;
      margin: 0 9%;
  }

  .eye::before {
      width: 50%;
      height: 50%;
  }

  .debut img {
      max-width: 50%;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 80% }
  }
} 
